<?xml version="1.0" encoding="UTF-8"?>

<!-- bootstrap="../../../vendor/autoload.php" -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../../vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-16385"/>
    </php>
    <testsuites>
        <testsuite name="Ionitium > Filesystem > Test">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
    </logging>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./docs</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
